.vscode
.vscode/

__pycache__
__pycache__/

*.so
**/*.so

*.dll
**/*.dll

*.lib
**/*.lib

*.exp
**/*.exp

*.exe
**/*.exe

dataloader/convert
dataloader/convert.exe

*.bf
**/*.bf

*.bin
**/*.bin

*.txt
**/*.txt

nets
nets/

*.nnue
**/*.nnue

*.json
**/*.json